body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/* navbar */
.header{
    position: fixed;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid rgba(224, 224, 224, 0.5);
    box-shadow: 5px 8px rgba(211, 211, 211, 0.17)
}

.logo img{
    height: 50px;
    padding-left: 120px;
}

.icons{
    display: flex;
}
.icons input{
    border-radius: 16px;
    height: 30px;
    width: 180px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 12pt;
    
}

.icons i{
    font-size: 16pt;
    padding: 5px;
    margin: 10px;
}

.t{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
    color: white;
    font-size: 16pt;
    width: 35px;
    height: 35px;
    margin: 10px;
    margin-right: 5vw;
    border-radius: 50%;
    text-align: center;
}

/* down-container */
.down-container{
    display: flex;
}

/* left's content */
.article-left{
    margin-top: 77px;
    width: 70%;
    padding: 50px 50px 0px 100px;
    border-right: 1px solid lightgray;
}

.article-left-header{
    display: flex;
    font-weight: bold;
    border-bottom: 1px solid lightgrey;
}

.article-left-header p{
    margin: 0;
    padding: 10px;
    margin-left: 20px;
}

#p1{
    color: grey;
}

#p2{
    border-bottom: 1px solid black;
}

.article{
    padding-top: 50px;
    color: grey;
}

.publisher-name{
    display: flex;
    align-items: center;
}

.publisher-name p{
    margin: 0;
    padding-left: 5px;
    font-size: 11pt;
}

.article h2{
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.article-block{
    display: flex;
}

.article-content{
    width: 100%;
    padding-right: 35px;
}

.article-content p{
    margin: 0;
}
.article-img img{
    height: 150px;
}

.bold{
    font-weight: bold;
    color: black;
}

.article-content{
    font-size: 14pt;
}

.article-footer{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.art-foot{
    display: flex;
    align-items: center;
    font-size: 11pt;
}

.art-foot ul{
    display: flex;
    padding: 0;
}

.art-foot li{
    margin-left: 25px;
}

.art-foot span{
    margin-right: 5px;
}

.art-foot p{
    padding: 5px 10px;
}

.highlighted p{
    background-color: rgb(240, 239, 239);
    border-radius: 15px;
}

.art-foot-right{
    display: flex;
    align-items: center;
}

.art-foot-right i{
    font-size: 16pt;
    padding: 10px;
    color: black;
}

/* right's content */
.article-right{
    margin-top: 77px;
    padding: 50px 50px 0px 50px;
    color: gray;
}
.article-right h3{
    color: black;
}

.right-icons{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.right-icons i{
    font-size: 20pt;
    padding: 0px 10px 0px 10px;
}

.article-right{
    width: 30%;
}

/* Twitter Container */
.twitter-container{
    display: flex;
    color: black;
    flex-direction: column;
    align-items: center;
    padding: 0px 50px 50px 50px;
    font-size: 14pt;
    text-align: center;
    border-bottom: 1px solid lightgrey;
}

.twitter-container p{
    margin-bottom: 20px;
}
.fa-twitter{
    color: rgb(49, 146, 236);
}

.twitter-s-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 230px;
    border-radius: 25px;
    background-color: white;
    font-size: 14pt;
}

.twitter-s-button i{
    padding-left: 10px;
    font-size: 18pt;
}

.twitter-s-button p{
    padding: 0px 20px 0px 10px;
    margin-bottom: 0;
}

.twitter-container a{
    color: black;
    margin-top: 30px;
}

/* Topics Container */
.topics-container{
    margin-bottom: 40px;
}
.topics-button{
    height: 40px;
    margin: 10px 5px 0px 0px;
    border: 0px;
    border-radius: 20px;
    font-size: 12pt;
}

.topics-button p{
    margin: 0px 10px;
}

/* follow container */
.follow-card{
    display: flex;
    margin-bottom: 40px;
}
.follow-container img{
    height: 40px;
    border-radius: 20px;
}

.follow-content{
    width: 100%;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.follow-content h3, p{
    margin: 0;
}

.content-content{
    padding: 0px 20px;
}

.follow-button button{
    height: 34px;
    border-radius: 17px;
    font-size: 12pt;
    padding: 0px 10px;
    background-color: white;
}

/* saved container*/

#a{
    margin-bottom: 20px;
}
.name-saved a{
    color: green;
}

/* left's footer */
.left-s-footer{
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
}
.left-s-footer p{
    margin: 10px 20px 10px 0px;
}

.left-s-footer a{
    text-decoration: none;
    color: grey;
}

.art-foot i{
    padding-left: 7px;
    font-size: 9pt;
}