body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/* navbar */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid rgba(224, 224, 224, 0.5);
    box-shadow: 5px 8px rgba(211, 211, 211, 0.17)
}

.logo img{
    height: 50px;
    padding-left: 120px;
}

.icons{
    display: flex;
}
.icons input{
    border-radius: 16px;
    height: 30px;
    width: 180px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 12pt;
    
}

.icons i{
    font-size: 16pt;
    padding: 5px;
    margin: 10px;
}

.t{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
    color: white;
    font-size: 16pt;
    width: 35px;
    height: 35px;
    margin: 10px;
    margin-right: 5vw;
    border-radius: 50%;
    text-align: center;
}

/* contenitore sottostante */

.down-container{
    display: flex;
}

/* lato sinistro */
.article-left{
    width: 65%;
    padding: 50px 50px 0px 100px;
    border-right: 1px solid lightgray;
}

.article-left-header{
    display: flex;
    font-weight: bold;
    border-bottom: 1px solid lightgrey;
}

.article-left-header p{
    margin: 0;
    padding: 10px;
    margin-left: 20px;
}

#p1{
    color: grey;
}

#p2{
    border-bottom: 1px solid black;
}

.article{
    padding-top: 50px;
    color: grey;
}

.publisher-name{
    display: flex;
    align-items: center;
}

.publisher-name p{
    margin: 0;
    padding-left: 5px;
    font-size: 11pt;
}

.article h2{
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.article-block{
    display: flex;
}

.article-content p{
    margin: 0;
}
.article-img img{
    height: 150px;
}

.bold{
    font-weight: bold;
    color: black;
}

.article-content{
    font-size: 14pt;
}

.article-footer{
    display: flex;
    justify-content: space-between;
}

.art-foot-left{
    display: flex;
    align-items: center;
    font-size: 11pt;
}

.art-foot-left ul{
    display: flex;
    padding: 0;
}

.art-foot-left li{
    margin-left: 25px;
}

.art-foot-right{
    display: flex;
    align-items: center;
}
.art-foot-right i{
    font-size: 16pt;
    padding: 10px;
    color: black;

}




/* lato destro */
.right-icons{
    display: flex;
    justify-content: center;
}

.right-icons i{
    font-size: 20pt;
    padding: 10px;
    margin-top: 40px;
}

.article-right{
    height: 100vh;
    width: 35%;
}
.fa-twitter{
    color: rgb(49, 146, 236);
}